# Operating System Files
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
__pycache__/
venv/
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp

# Chrome Extension specific
chrome_extension.crx
chrome_extension.pem

# Docker
Dockerfile
docker-compose.yml

# Logs and temporary files
*.log
*.tmp
*.temp
puppeteer_worker/puppeteer_worker_logs.txt

# Data files (if not meant to be version controlled)
*.csv
*.json
*.bin
*.map

# Typecast Session Files
puppeteer_worker/typecast_cookies.json
puppeteer_worker/typecast_localStorage.json